<!doctype html>
	<html>
	<head>
		<title>Meadowlark Travel</title>
		<script type="text/javascript">
			document.oncontextmenu=new Function("return false")
		</script>
	</head>
	<body>
		<span>This is a templated page</span>
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
		{{{body}}}
	</body>
</html>