<form id="login_block">
	<div>
		<h1 id="home_title">Welcome to Sunny Gallery</h1>
	</div>
	<div id="login_form" class="log_forms">
		{{> login }}
	</div>
	<div id="tab_list">
		<div>
			<button type="button" onclick="alert('Hello!')">
				登陆
			</button>
		</div>
		<div>
			<button type="button" onclick="alert('Hello!')">
				注册
			</button>
		</div>
		<div>
			<button type="button" onclidck="alert('Hello!')">
				QQ登陆
			</button>
		</div>
		<div>
			<button type="button" onclick="alert('Hello!')">
				领英(LinkedIn)登陆
			</button>
		</div>
		<div>
			<button type="button" onclick="alert('Hello!')">
				微博登陆
			</button>
		</div>
	</div>
	<div id="login_footer">
	</div>
</form>